@import "reset.css";

body {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;

}

.canvas {
    width:500px;
    height: 500px;
    background-color: skyblue;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.88);
}

.controls{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controls .controls_colors{
    display: flex;
    margin-bottom: 20px;
}

.controls_colors .controls_color{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin : 5px;
    cursor : pointer;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.88);
}

.controls .controls_spinner{
    margin-bottom: 30px;
}
.controls .controls_buttons{
    margin-bottom: 30px;
}
.controls_buttons button{
    all : unset;
    background-color: white;
    width: 80px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.88);
    text-align:center;
    border : 2px soild rgb(black);
    font-weight: 700;
    font-size: 20px;
    margin : 10px;
}

.controls_buttons button:active{
    transform : scale(0.97)
}